*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: #2f3640;
    padding: 16px 0;
    color:#fff;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: #f5f6fa;
    text-decoration: none;
}

.container{
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    justify-content: space-between;
}

.articles article img {
    height: 180px;
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.articles article a {
    background-color:rgb(45, 45, 127);
    color:#fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(92, 119, 155, 0.1);
}

#sports .articles article a {
    background-color: #aed78b;
}

#economy {
    background-color: #3d9c6d;
}



#economy .articles article a {
    background-color: #ff9f1a;
}

#entertainment {
    background-color: rgb(217, 121, 188);
}

#entertainment .articles article a {
    background-color: rgb(79, 143, 202);
}

#entertainment .articles article p {
    font-family: 'Times New Roman', Times, serif;
}


#music {
    background-color: rgb(188, 143, 186);
}

#music .articles article a{

    background-color: rgb(42, 159, 165);
}

#music .articles article p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#page {
    width: 1200px;
    margin: 0 auto;
}